HTTPPort 1234
RTSPPort 1235

<Feed feed1.ffm>
        File /tmp/feed1.ffm
        FileMaxSize 2M
        ACL allow 127.0.0.1 10.0.0.12
</Feed>

<Stream status.html>
Format status
ACL allow localhost
</Stream>

<Stream test1.sdp>
    Feed feed1.ffm
    Format rtp
    Noaudio
    VideoCodec libx264
    ACL allow 127.0.0.1 192.168.0.0 192.168.255.255
</Stream>


HttpBindAddress 0.0.0.0 
MaxClients 1000 
MaxBandwidth 10000 
NoDaemon 

<Feed feed2.ffm> 
File /tmp/feed2.ffm 
FileMaxSize 5M 
</Feed> 

<Stream test.mpeg4>
Feed feed2.ffm
Format rtp
VideoCodec mpeg4
VideoFrameRate 15
VideoBufferSize 80000
VideoBitRate 100
VideoQMin 1
VideoQMax 5
VideoSize 352x288
PreRoll 0
Noaudio
</Stream>


